<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Justice League Careers</title>
    <style>
        #banner {
            height: 450px;
            object-fit: cover;
            width: 100%;
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}
    <div class="container">
        <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
        <img class="img-fluid" id="banner" src="/static/b2.jpg" alt="Justice League" />
        <h2 class="text-center mt-2 mb-4">About JL Careers</h2>
        <p class="lead">
            Welcome to Justice League Careers, the premier platform for extraordinary individuals from all corners of
            the Earth to apply their superhuman abilities for the greater good. At Justice League, we believe that
            harnessing the power of unique talents and strengths can create a world where justice prevails, and hope
            shines brighter than ever before.
        </p>
        <h2 class="text-center mt-2 mb-4">Our Mission</h2>
        <p class="lead">
            Justice League is more than just a team of superheroes – we are a diverse, united force committed to
            safeguarding our world from threats that defy imagination. Our mission is to bring together individuals with
            extraordinary powers, skills, and determination to collaboratively uphold justice, protect the innocent, and
            inspire a future defined by unity and harmony.
        </p>
        <h2 class="text-center mt-2 mb-4">Job Openings</h2>
        <p>
            {% for job in jobs %}
            {% include 'jobItem.html' %}
            {% endfor %}
        </p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg">Contact Us</button>
            <p class="mt-4">Copyright 2023, Justice League</p>
        </div>
    </div>
</body>

</html>