<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>3Vikram</title>
    <style>
        #banner {
            height: 450px;
            object-fit: cover;
            width: 100%;
        }
    </style>
</head>

<body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="/static/banner2.jpg" alt="VYKRAM" />
    <div style="background-color: rgb(255,255,255);padding-top: 100px;padding-bottom: 100px;">
    <div class="container">
        <h1 class="text-center" style="margin-bottom: 50px;">About {{company_name}}</h1>
        <div class="row" style="margin-bottom: 100px;">
            <div class="col-md-6">
                <p class="lead">
                    Welcome to Vykram, a pioneering software company driven by cutting-edge technology and a commitment
                    to transforming ideas into reality. With a culture of creativity and collaboration, we craft
                    software solutions that redefine industries and enhance user experiences. Specializing in intuitive,
                    scalable, and secure applications, we engineer solutions that empower and inspire, setting new
                    benchmarks for technological advancement. Join us in reshaping the digital landscape, one innovation
                    at a time.
                </p>
            </div>
            <div class="d-none d-md-block col-md-6">
                <img src="/static/people.jpeg" alt="people" style="height:320px;border-radius: 4px;">
            </div>
        </div>
        <h2 class="text-center mt-2 mb-4" style="margin-bottom: 40px;">Our Mission</h2>
        <p class="lead">
            At Vykram, our mission is to revolutionize the digital landscape through innovative software solutions. We
            are dedicated to pushing the boundaries of technology, fostering creativity, and driving impactful change.
            By crafting intuitive, secure, and scalable applications, we aim to empower businesses and individuals,
            setting new standards for excellence in the digital realm. With a relentless pursuit of innovation, we
            strive to reshape industries and enhance user experiences, ultimately shaping a more connected and
            technologically advanced world.
        </p>
        </div>
    </div>
    <div style="background-color: rgb(235,235,235);padding-top: 70px; padding-bottom: 70px;">
        <div class="container">
        <h2 class="text-center" style="margin-top:30px;">Job Openings</h2>
        <p>
            {% for job in jobs %}
            {% include 'jobItem.html' %}
            {% endfor %}
        </p>
        </div>
        </div>
        <div class="text-center" style="margin-top: 50px;">
            <button class="btn btn-dark btn-lg">Contact Us</button>
            {% include 'footer.html' %}
        </div>
    
    
</body>

</html>