<div class="border-bottom border-dark row" style="margin-bottom: 15px;padding-bottom: 16px;margin-right: 20px;margin-left: 20px;">
    <div class="col-11">
        <h4 style="color:rgb(120,120,120); margin-bottom: 4px; padding-bottom: 4px;">
            {{job['title']}}
        </h4>

        <div>
            <b>Location: </b>{{job['location']}}
        </div>

        {% if 'salary' in job %}
        <div>
            <b>Salary:</b>{{job['salary']}}
        </div>
        {% endif %}
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-dark" style="margin-top: 33%;">
            Apply</button>
    </div>
</div>